<div class="content">
    <div class="box box-danger">
        <section class="content">
            <div class="error-page">
                <h2 class="headline text-danger">401</h2>
                <div class="error-content">
                    <h2><span class="text-danger">NOT AUTHORIZED</span></h2> 
                    <h4><p>Oops! You don't have permission to access this page.</p></h4>           
                    <h4><p><a href="#" (click)="login()">Sign In</a> with JE account first!</p></h4>
                </div>
                <!-- /.error-content -->
            </div>
            <!-- /.error-page -->
        </section>
    </div>
</div>
